<!-- follow me on twitter @asad_codes -->


<nav class="flex justify-center items-center bg-gray-900 text-white">
        <div class="px-5 xl:px-12 py-6 flex w-full items-center">
          <a class="text-6xl font-bold font-heading" style="font-family: 'Amatic SC', cursive;"  href="{% url 'core:CoreHomeView' %}">
            <!-- <img class="h-9" src="logo.png" alt="logo"> -->
            atelier
          </a>
          <!-- Nav Links -->
          <ul class="justify-center items-center hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
          </ul>
          <!-- Header Icons -->
          <div class="hidden xl:flex items-center space-x-5 items-center">
            <a class="hover:text-gray-200" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            </a>
 
 
          {% if user.is_authenticated %}      
            <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-gray-600 font-medium text-white leading-5 hover:bg-blue-600 md:mx-2 md:w-auto" href="{% url "arts:viewCreate" %}">CREATE</a>
              <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-gray-600 font-medium text-white leading-5 hover:bg-blue-600 md:mx-2 md:w-auto" href="{% url "arts:viewArtist" user.pk %}">MY ARTS</a>
            <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-gray-600 font-medium text-white leading-5 hover:bg-blue-600 md:mx-2 md:w-auto" href="{% url "accounts:profile" user.pk %}">PROFILE</a>
            <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-gray-600 font-medium text-white leading-5 hover:bg-blue-600 md:mx-2 md:w-auto" href="{% url "accounts:logout" %}">LOG OUT</a>
          {% else %}
            <a class="block w-1/2 px-3 py-2 mx-1 rounded text-center text-sm bg-gray-600 font-medium text-white leading-5 hover:bg-blue-600 md:mx-2 md:w-auto" href="{% url "accounts:login" %}">LOG IN</a>
          {% endif %}
          </div>
        </div>
      </nav>

