{% extends "base.html" %}
{% load static %}
{% block page_title %}
Home
{% endblock page_title %}

{% block content %}
<style>
    .container div {
        width: 280px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    
    .container img { width: 100%; border-radius: 8px; }

    .hover\:grow {
        transition: all 0.3s;
        transform: scale(1);
    }
    
    .hover\:grow:hover {
        transform: scale(1.02);
    }
</style>

<div class="container max-w-full mt-10 ">
    <div>
        <img class="hover:grow hover:shadow-lg" src="https://picsum.photos/200/250">
    </div>
    <div>
        <img src="https://picsum.photos/200/250">
    </div>
    <div>
        <img src="https://picsum.photos/200/400">
    </div>
    <div>
        <img src="https://picsum.photos/200/250">
    </div>
    <div>
        <img src="https://picsum.photos/200/250">
    </div>
    <div>
        <img src="https://picsum.photos/200/440">
    </div>
    <div>
        <img src="https://picsum.photos/200/550">
    </div>
    <div>
        <img src="https://picsum.photos/200/220">
    </div>
    <div>
        <img src="https://picsum.photos/200/350">
    </div>
    <div>
        <img src="https://picsum.photos/200/300">
    </div>
    <div>
        <img src="https://picsum.photos/200/200">
    </div>
    <div>
        <img src="https://picsum.photos/200/150">
    </div>
    <div>
        <img src="https://picsum.photos/200/320">
    </div>
    <div>
        <img src="https://picsum.photos/200/420">
    </div>
    <div>
        <img src="https://picsum.photos/200/150">
    </div>

</div>

    <script src="{% static 'js/magic_grid.js' %}"></script>
{% endblock content %}