{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_title %}
    Create
{% endblock page_title %}

{% block content %}
<div style="text-align: center; max-width: 50px; margin: 4rem auto; color:blue;">
    <form action="{% url 'arts:viewUpdate' id=target_art_work.pk %}" method="post", enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% comment %} <input type="submit" class="btn btn-dark rounded-2xl col-6 mt-3">         {% endcomment %}
        <button class="w-full md:w-2/5 text-center text-center rounded-2xl border-b-2 border-b-gray-300 bg-white py-2.5 px-4 font-bold text-blue-700 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">생성</button>
    </form>
</div>
        {% comment %} <div class="lg:w-1/2 flex flex-col justify-center item-center mt-7 md:mt-8 lg:mt-0 pb-8 lg:pb-0">
        </div> {% endcomment %}
{% endblock content %}