{% extends "base.html" %}

{% block page_title %}
    {{target_user.first_name}}'s Profile
{% endblock page_title %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">


        {% include "mixins/user_avatar.html" with target_user=target_user %}

        <div class="flex items-center">
            <span class="text-3xl mt-1 text-white">{{target_user.first_name}}</span>
            {% if target_user.superhost %}
                <i class="fas fa-check-circle text-teal-400 ml-1"></i>
            {% endif %}
            <span class="text-lg mb-5">{{target_user.bio}}</span>
            <a href="{% url 'accounts:profile_update' %}" class="mb-5 text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500">Edit Profile</a>
            <a href="{% url 'accounts:password' %}" class="underline text-blue-600 hover:text-blue-700  focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">Change Password</a>
        </div>

    </div>
{% endblock content %}